project_id = "nmqkbmiqcycbfktjnbie"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]

[functions.create-admin-user]
verify_jwt = false

[functions.patients]
verify_jwt = false

[functions.appointments]
verify_jwt = false

[functions.dentists]
verify_jwt = false
